<div class="listing-list">
    <h1>Listing List</h1>
  
    <div>
      <label for="page">Page:</label>
      <input type="number" id="page" [(ngModel)]="page" />
      <label for="pageSize">Page Size:</label>
      <input type="number" id="pageSize" [(ngModel)]="pageSize" />
      <button (click)="loadListings()">Load Listings</button>
    </div>
    <button (click)="navigateToCreate()">Create New Listing</button>
    <table>
      <thead>
        <tr>
          <th>Property ID</th>
          <th>User ID</th>
          <th>Price</th>
          <th>Publication Date</th>
          <th>Description</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listing of listings">
          <td>{{ listing.propertyId }}</td>
          <td>{{ listing.userId }}</td>
          <td>{{ listing.price }}</td>
          <td>{{ listing.publicationDate | date }}</td>
          <td>{{ listing.description }}</td>
          <td>
            <ul>
              <li>{{ 'IsSold' }}: {{ listing.features.features.IsSold ? 'Yes' : 'No' }}</li>
              <li>{{ 'IsHighlighted' }}: {{ listing.features.features.IsHighlighted ? 'Yes' : 'No' }}</li>
              <li>{{ 'IsDeleted' }}: {{ listing.features.features.IsDeleted ? 'Yes' : 'No' }}</li>
            </ul>
          </td>
          <td>
            <button (click)="navigateToUpdate(listing.id)">Update</button>
            <button (click)="deleteListing(listing.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  