<div class="login">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" required />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <p class="register-link">
    Don't have an account? <a (click)="navigateToRegister()">Register here</a>
  </p>
</div>