<div class="home">
  <div class="header">
    @if (!isLoggedIn) {
      <button class="login-button" (click)="navigateTo('login')">Login</button>
    }
    @else {
      <button class="profile-button" (click)="navigateTo('user-profile')">Profile</button>
      <button class="logout-button" (click)="logout()">Logout</button>
    }
  </div>
  <h1>Welcome to the Real Estate Management System</h1>
  <div class="button-container">
    <div class="button-box">
      <h2>Users</h2>
      <p>Manage all users in the system.</p>
      <button (click)="navigateTo('users')">Go to Users</button>
    </div>
    <div class="button-box">
      <h2>Listings</h2>
      <p>View and manage property listings.</p>
      <button (click)="navigateTo('listings')">Go to Listings</button>
    </div>
    <div class="button-box">
      <h2>Prediction</h2>
      <p>Click the button to fetch the property price prediction.</p>
      <button (click)="fetchPrediction()">Get Prediction</button>
    </div>
  </div>
</div>
