html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff; /* Light blue background */
}

.home {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #f0f8ff; /* Light blue background */
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.login-button, .logout-button, .profile-button {
  justify-content: end;
  width: 10rem;
  margin: 1rem;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; /* Ensure elements are in a row */
  /* flex-wrap: nowrap; /* Prevent wrapping */
  gap: 20px; /* Space between the boxes */
}

.button-box {
  display: inline-block;
  width: 400px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button-box h2 {
  margin-top: 0;
  color: #333;
}

.button-box p {
  color: #666;
}

button {
  width: 100%;
  background-color: #28a745; /* Green button */
  color: white;
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .home {
    padding: 15px;
  }

  .button-box {
    width: 100%;
    margin: 10px 0;
  }

  button {
    padding: 10px;
  }
}