<div class="user-list">
  <h1>User List</h1>
  

  
  <div class="pagination-controls">
    <label for="page">Page:</label>
    <select id="page" [(ngModel)]="page" (change)="loadUsers()">
      <option *ngFor="let p of pages" [value]="p">{{ p }}</option>
    </select>

    <label for="pageSize">Page Size:</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="loadUsers()">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>

  <button (click)="toggleFilterPopup()">Filters</button>
  
  <div *ngIf="showFilterPopup" class="overlay" (click)="toggleFilterPopup()"></div>
  <div *ngIf="showFilterPopup" class="filter-popup">
    <h2>Filters</h2>
    <label for="minRating">Min Rating:</label>
    <input id="minRating" type="number" [(ngModel)]="minRating" />
    
    <label for="maxRating">Max Rating:</label>
    <input id="maxRating" type="number" [(ngModel)]="maxRating" />
    
    <label for="verified">Verified:</label>
    <select id="verified" [(ngModel)]="verified">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>

    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="type">
      <option [value]="0">Individual</option>
      <option [value]="1">LegalEntity</option>
      <option [value]="2">Admin</option>
    </select>
    
    <label for="username">Username:</label>
    <input id="username" type="text" [(ngModel)]="username" />
    
    <button (click)="applyFilters()">Apply Filters</button>
    <button (click)="toggleFilterPopup()">Close</button>
  </div>
    
    <div class="user-buttons">
      <div *ngFor="let user of users" class="user-button" (click)="navigateToUpdate(user.id)">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Verified:</strong> {{ user.verified }}</p>
        <p><strong>Rating:</strong> {{ user.rating }}</p>
        <p><strong>Type:</strong> {{  getUserType(user.type) }}</p>
      </div>
    </div>
    <div class="pagination-controls-bottom">
      <button *ngIf="page > 1" (click)="previousPage()">Previous Page</button>
      <button (click)="nextPage()">Next Page</button>
    </div>
  </div>