<div class="property-list">
  <h1>Property List</h1>
  <button (click)="navigateToCreate()">Create New Property</button>
  <div class="pagination-controls">
      <label for="page">Page:</label>
      <select id="page" [(ngModel)]="page" (change)="loadProperties()">
          <option *ngFor="let p of pages" [value]="p">{{ p }}</option>
      </select>
      <label for="pageSize">Page Size:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="loadProperties()">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
  <table>
      <thead>
          <tr>
              <th>Address ID</th>
              <th>Image ID</th>
              <th>User ID</th>
              <th>Type</th>
              <th>Features</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let property of properties">
              <td>{{ property.addressId }}</td>
              <td>{{ property.imageId }}</td>
              <td>{{ property.userId }}</td>
              <td>{{ property.type }}</td>
              <td>
                <ul>
                  <li *ngFor="let feature of getNonZeroFeatures(property.features)">
                    {{ feature.key }}: {{ feature.value }}
                  </li>
                </ul>
              </td>
              <td>
                  <button (click)="navigateToUpdate(property.id)">Update</button>
                  <button (click)="deleteProperty(property.id)">Delete</button>
              </td>
          </tr>
      