<div class="header">
  <div class="header-content">
    <h1 class="brand" [routerLink]="['/']" style="cursor: pointer;">SmartEstate</h1>
    <div class="auth-buttons">
      @if (!isLoggedIn) {
        <button class="btn login-button" (click)="navigateTo('login')">Login</button>
      }
      @else {
        <button class="btn profile-button" (click)="navigateTo('users/profile')">Profile</button>
        <button class="btn logout-button" (click)="logout()">Logout</button>
      }
    </div>
  </div>
</div>
